/* MovingIcon.css */
.icon-container {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
}

.moving-icon {
    width: 50px;
    /* Adjust the size of the icon as needed */
    height: 50px;
    /* Adjust the size of the icon as needed */
    background-color: #3498db;
    /* Choose the icon's background color */
    border-radius: 50%;
    /* Makes the icon round */
    position: absolute;
    animation: moveRight 4s linear infinite;
    /* Adjust animation duration and timing function as needed */
}

@keyframes moveRight {
    0% {
        left: 0;
    }

    100% {
        left: 100%;
        /* Change the final position based on the container width */
    }
}

/* BounceCircle.css */
.bounce-circle-container {
    width: 100px;
    /* Adjust the width of the container as needed */
    height: 100px;
    /* Adjust the height of the container as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 800px;
}

.bounce-circle {
    width: 50px;
    /* Adjust the size of the circle as needed */
    height: 50px;
    /* Adjust the size of the circle as needed */
    background-color: #3498db;
    /* Choose the circle's background color */
    border-radius: 50%;
    /* Makes the circle round */
    animation: bounce 2s ease-in-out infinite;
    /* Adjust animation duration and timing function as needed */
    transform-style: preserve-3d;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-50px);
        /* Adjust the bounce height as needed */
    }
}

/* RotateSquare.css */
.rotate-square-container {
    width: 100px;
    /* Adjust the width of the container as needed */
    height: 100px;
    /* Adjust the height of the container as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 800px;
}

.rotate-square {
    width: 50px;
    /* Adjust the size of the square as needed */
    height: 50px;
    /* Adjust the size of the square as needed */
    background-color: #3498db;
    /* Choose the square's background color */
    animation: rotate 3s linear infinite;
    /* Adjust animation duration and timing function as needed */
    transform-style: preserve-3d;
}

@keyframes rotate {
    0% {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}