
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header-top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-text {
  display: inline;
  margin-left: 20px;
}

.header-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.example-page {
  width: 88vw;
  background-color: #ADD8E6;
  padding-left: 50px;
  padding-right: 50px;
}

.playground{
  width: 88vw;
  background-color: #ADD8E6;
  padding-left: 50px;
  padding-right: 50px;
}


.white-div {
  background-color: ivory;
  padding: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 10px;
}

.feature {
  display: flex;
}

.feature-i {
  display: flex;
  justify-content: center;
  align-items: center;
}

.free-2-use-div {
  display: flex;
  align-items: center;
}

.free-2-use-text {
  margin-bottom: -20px;
}

.animations {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.playground-form {
  display: flex;
  justify-content: space-between;
}

.form-select{
  margin-left: 20px;
}

.form-title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.playground-title {
  text-align: center;
  font-family: 'Caveat', cursive;
  font-weight: 700;
  font-size: 3rem;
}

.playground-code{
  height: 400px;
}

.playground-button {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  body {
    background-color: #ADD8E6;
  }

  .example-page {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.header-bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

  .white-div {
    width: 100%;
  }

  .playground {
    width: 90vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .playground-form{
    display: flex;
    flex-direction: column;
  }

  .playground-button{
    margin-top: 20px;
  }

  .playground-code{
    width: 85vw;
  }
}